{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "printWidth": 80,
  "singleQuote": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json",
        "tabWidth": 2,
        "printWidth": 80
      }
    },
    {
      "files": ".eslintrc",
      "options": {
        "parser": "json",
        "tabWidth": 2,
        "printWidth": 80
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "printWidth": 80
      }
    }
  ]
}
